<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
	integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
	crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
<script type="text/javascript">
	var globalExchange;

	function initExchange() {
		var xhr = new XMLHttpRequest();
		xhr.open('GET', '/api/v1/exchange');
		xhr.send();

		xhr.onreadystatechange = function() {
			if (xhr.readyState === XMLHttpRequest.DONE) {
				if (xhr.status === 200) {
					var respBody = JSON.parse(xhr.responseText);
					var bodyQuotes = respBody.quotes;
					console.log(respBody);
					globalExchange=bodyQuotes;
					modifyMoney();
				} else {
					console.log('[' + xhr.status + ']: ' + xhr.statusText);
				}
			}
		};
	}
	
	function toFixedMoneyNComma(countryMoney){
		var respMoneyArr = Number(countryMoney).toFixed(4).split(".");
		var essence = respMoneyArr[0];
		console.log(respMoneyArr);
		var decimalPoint = respMoneyArr[1].substring(0,2);
		
		var commaEssence = essence.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");

		return commaEssence+"."+decimalPoint;
	}

	function selectedCountryMoney(countryMoney){
		var query = "USD"+countryMoney;
		if(globalExchange.hasOwnProperty(query)){
			return globalExchange[query];
		}else{
			alert("해당국가의 환율을 조회 할 수 없습니다.");
			return 0;
		}
	}

	function modifyMoney(){
		var country = document.querySelector("#country-selector").value;
		var money = selectedCountryMoney(country);
		
		document.querySelector('#exchange-money').innerText=toFixedMoneyNComma(money)+" "+country+"/USD";
	}
	
	function calculate(){
		var regexp = /^[0-9]*$/
		var value = document.querySelector("#usd-money").value.replace(/,/gi,"");
		
		var messageDiv = document.querySelector("#exchange-message");
		if( !regexp.test(value)||Number(value)<0||Number(value)>10000 ) {
			messageDiv.innerText="송금액이 바르지 않습니다.";
			messageDiv.classList.add("exchange__warning");
		}else{
			

			var sendJson= {
				"dollar":value,
				"division":document.querySelector("#country-selector").value
			};
			console.log(JSON.stringify(sendJson));
			var xhr = new XMLHttpRequest();
			xhr.open('POST', '/api/v1/exchange');
			xhr.setRequestHeader("Content-type", "application/json");
			xhr.send(JSON.stringify(sendJson));

			xhr.onreadystatechange = function() {
				if (xhr.readyState === XMLHttpRequest.DONE) {
					if (xhr.status === 200) {
				
						messageDiv.innerText=xhr.responseText+" "+sendJson.division +"을 송금하셨습니다.";
						messageDiv.classList.remove("exchange__warning");
						
					} else {
						console.log('[' + xhr.status + ']: ' + xhr.statusText);
					}
				}
			};

		}
	}
	
	function addComma(num) {
		  var regexp = /\B(?=(\d{3})+(?!\d))/g;
		  num.value=num.value.replace(/,/gi,"").replace(regexp, ',');
	}

</script>
<title>Hello</title>
</head>
<body onload="initExchange()">
	<div class="exchange-form">
		<header class="header">
			<div class="header__menus header__menus-seleted">
				<a href="#"> <i class="fas fa-exchange-alt"></i> <span
					class="header__menus-tile"> 환 율 </span>
				</a>
			</div>
		</header>
		<main class="exchange-main">
		<div class="exchange__items">
			<div class="exchange__item">
				<span class="exchange__item-title">송금국가 : </span> <span
					class="exchange__item-value">미국 (USD) </span>
			</div>
			<div class="exchange__item">
				<span class="exchange__item-title">수취국가 : </span> 
				<select class="exchange__item-value" id="country-selector" onchange="modifyMoney()" >
					<option selected="selected" value="KRW">한국(KRW)</option>
					<option value="JPY">일본(JPY)</option>
					<option value="PHP">필리핀(PHP)</option>
				</select>
			</div>
			<div class="exchange__item">
				<span class="exchange__item-title">환율 : </span> 
				<span class="exchange__item-value" id="exchange-money"></span>
			</div>
			<div class="exchange__item">
				<span class="exchange__item-title">송금액 : </span> <input type="text" id="usd-money" onkeyup="addComma(this)">
				<span class="exchange__item">USD</span>
			</div>
			<div class="exchange_item">
				<input type="button" value="submit" onclick="calculate()"/>
			</div>
			<div class="exchange_item">
				<span class="exchange__item" id="exchange-message"></span>
			</div>
		</div>
		</main>
	</div>
</body>
</html>